<nav>
    <div class="izquierda">
        <button [routerLink]="['inicio']" routerLinkActive="router-link-active">Inicio</button>
        <button [routerLink]="['about']" routerLinkActive="router-link-active">Acerda De</button>
        <button [routerLink]="['personas']" routerLinkActive="router-link-active">Lista De Personas</button>
        <button [routerLink]="['informacion']" routerLinkActive="router-link-active">Mi Informacion</button>
    </div>
    <div class="derecha">
        <button [routerLink]="['login']" routerLinkActive="router-link-active">Ingresar</button>
        <button>Salir</button>
    </div>
</nav>